@font-face{
  font-family:"blotter";
  src:url(Blotter.woff);
  font-weight:Bold;
}

@font-face{
  font-family:"Acronym";
  src:url(Acronym-Regular.woff);
  font-weight:Regular;
}


.opener {
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  margin:0;
  color: black;
  font-family: blotter;
  font-size: 1300%;
  word-break: break-word;
}
h2 {
  color: white;
  font-family: Acronym;
  font-size: 100%;
}
p  {
  color: black;
  font-family: Acronym, bold;
  font-size: 300%;
  word-break: break-word;
  margin-left: 10%;
  margin-right: 10%;
}

.background {
  background-color: pink;
  /* The image used */
  background-image: url(http://i65.tinypic.com/9bbq7t.jpg);

  /* Set a specific height */
  min-height: 1000px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {

}

h3 {
  color: white;
  font-family: Corpus;
  font-size: 100%;
}

body {
  align-content: center;
}
