@font-face{
  font-family:"Corpus";
  src:url(corpus.woff);
  font-weight:Bold;
}

@font-face{
  font-family:"Acronym";
  src:url(Acronym-Regular.woff);
  font-weight:Regular;
}

h1 {
  margin:0;
  color: black;
  font-family: Corpus;
  font-size: 200%;
  word-break: break-word;
}
h2 {
  color: black;
  font-family: Acronym;
  font-size: 200%;
}
p  {
  color: black;
  font-family: Acronym, bold;
  font-size: 200%;
  word-break: break-word;
}
h3 {
  color: black;
  font-family: Corpus;
  font-size: 100%;
}

body {
  align-content: center;
}
