h1 {
  color: black;
  font-family: blotter;
  font-size: 3000%;
}
h2 {
  color: black;
  font-family: moderat;
  font-size: 500%;
}
p  {
  color: white;
  font-family: Moderat, bold;
  font-size: 80%;
}
h3 {
  color: yellow;
  font-family: blotter;
  font-size: 80%;
}
