@font-face{
  font-family:"GC16";
  src:url(gc16-SemiBold.woff);
  font-weight:Semibold;
}


h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: GC16;
    font-size: 850%;
    color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    text-align: center;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: GC16;
    font-size: 100%;
    color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    text-align: left;
}

div[class^="canvas"] {
  position:fixed;
  background-image: src="fractal.jpg";
  border: solid 0px white;
}

div.text{
  position: sticky;
  left: 0px;
  top: 0px;
  z-index:100;  
}

body {
   width:100%;
   height:100%;
   padding:0;
   margin:0;
   display: flex;
   justify-content: center;
   align-items: center;
}

img {
  width: 100%;
  align-content: center;
} 


