@font-face{
  font-family:"Acronym";
  src:url(Acronym-Bold.woff);
  font-weight:Bold;
}

@font-face{
  font-family:"Acronym";
  src:url(Acronym-Regular.woff);
  font-weight:Regular;
}

h1 {
	font-family: Acronym;
	line-height: 1.2;
	margin-right: 250px;
	margin-left: 50px;
	font-size: 30px;
}

h2 {
	font-family: Acronym;
	line-height: 1.2;
	margin-right: 250px;
	margin-left: 50px;
	font-size: 75px;
}

p {
	font-family: Acronym;
	line-height: 1.2;
	font-size: 25px;
	display: block;
	margin-right: 250px;
	margin-left: 50px;
	z-index: 110;
}

body {
	margin: 40px auto 40px auto;
	margin-left: 50px;
	margin-right: : 0px;
	text-align: left;
	max-width: 1360px;
	min-width: 375px;
	min-height: 375px;
	max-height: 1360px;

}

.fixed {
	position: fixed;
	display: block;
}

#image{
	width: 1000px;
	height: 800px;
	size:100%;
	margin-left: -35px;
	z-index: 100;
}