@font-face{
  font-family:"Ogg";
  src:url(Ogg-Roman.woff);
  font-weight:Regular;
}

@font-face{
  font-family:"Glossy Display";
  src:url(GlossyDisplay-Regular.woff);
  font-weight:Regular;
}

h1 {
	font-family: Ogg;
	line-height: 1.2;
	margin-right: 500px;
	margin-left: 50px;
	font-size: 25px;
	color:black;
}

h2 {
	font-family: Ogg;
	line-height: 1.2;
	margin-right: 250px;
	margin-left: 50px;
	font-size: 75px;
}

p {
	font-family: glossy display;
	color: black;
	line-height: 1.5;
	font-size: 18px;
	display: block;
	margin-right: 600px;
	margin-left: 50px;
	z-index: 110;
}

body {
	margin: 40px auto 40px auto;
	margin-left: 50px;
	margin-right: : 0px;
	text-align: left;
	max-width: 1160px;
	min-width: 375px;
	min-height: 375px;
	max-height: 1360px;

}

.fixed {
	position: fixed;
	display: block;
}

#image{
	width: 600px;
	height: 400px;
	size:100%;
	margin-left: 0px;
	margin-top: 27%;
	z-index: 100;
}