 .moon1 {
      position: fixed;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      box-shadow: 15px 15px 0 0 black;
      border:dotted;
      margin-top: 10%;
      margin-left: 10%;
      transform: translate(200px,20%);
      -webkit-animation: rotation 2s infinite linear;
    }

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

.rectangle1 {
      position:fixed;
      width: 100px;
      height: 500px;
      margin-top: 10%;
      margin-left:5%;
      border:dotted;
    }

.rectangle2 {
      position:fixed;
      background-color: black;
      width: 300px;
      height: 70px;
      margin-top: 42%;
      margin-left:30%;
      border:dotted;
      -webkit-animation: skew 5s infinite linear;
    }

.rectangle3 {
      position:absolute;
      width: 100px;
      height: 400px;
      margin-top: 10%;
      margin-left:30%;
      border:dotted;
    }

@-webkit-keyframes skew {
	from {
		-webkit-transform: skew(0deg);
	}
	to {
		-webkit-transform: skew(25deg);
	}
}

.rectangle4 {
      position:absolute;
      width: 100px;
      height: 400px;
      margin-top: 10%;
      margin-left:73%;
      border:dotted;
      transform: skew(15deg);
    }

.rectangle5 {
      position:absolute;
      width: 100px;
      height: 400px;
      margin-top: 10%;
      margin-left:60%;
      border:dotted;
      transform: skew(-15deg);
    }

.rectangle6 {
	position:absolute;
	border-bottom: 75px solid black;
    border-left: 25px solid transparent;
    border-right: 27px dotted transparent;
    height: 0;
    width: 250px;
	margin-top: 23%;
	margin-left:58%;
	-webkit-animation: scale 5s ease-in both;
	animation: scale 5s ease-in both;
}

.rectangle7 {
      position:absolute;
      width: 100px;
      height: 400px;
      margin-top: 10%;
      margin-left:94%;
      border:dotted;
    }

.rectangle8:hover {
	background-color: black;
    transform: translateX(-5.2rem);
    transition: .1s;
}

.rectangle8 {
      position:absolute;
      width: 100px;
      height: 200px;
      margin-top: 10%;
      margin-left:85%;
      border:dotted;
      -webkit-animation: skew2 5s infinite linear;
    }

@-webkit-keyframes skew2 {
  from {
    -webkit-transform: skew(0deg);
  }
  to {
    -webkit-transform: skew(45deg);
  }
}

@-webkit-keyframes scale {
	from {
		-webkit-transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
	}
}
