/* COLLAPSABLE BOX ANIMATION */

#more {display: none;}

/* TITLE */

body {
	margin-top: 0px;
  margin: 100px auto 100px auto;
	text-align: center;
	max-width: 1280px;
	min-width: 375px;
}

#title {
	font-family: Beastly, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 275px;
    text-align:center;
    line-height: 1.0;
    margin-bottom: 100px;
    position:relative;
    /*transition-property: font-color;
    transition-duration: .03s;
    position: relative;
    -webkit-animation:colorchange 10s infinite;*/
}


#canvas {
  position: (0,0);
  z-index:-1;
}

canvas {
   position: fixed !important;
}

/* BODY TEXT */


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

#image1{
  display: block;
  width: 150px;
  height: 200px;
}

#image2{
  display: block;
  width: 200px;
  height: 130px;
}

#image3{
  display: block;
  width: 130px;
  height: 200px;
}

#image4{
  margin-top: 0px;
  display: block;
  width: 300px;
  height: 175px;
}

ol{
  margin-top:0px;
    margin-left: 0px;
    font-family: poynter-oldstyle-text, serif;
    font-weight: 400;
    line-height: 1.2;
    font-size: 15px;
    font-style: italic; 
    color: black;
    text-align: left;
}

#smalltext {
    margin-top:0px;
    margin-left: 10px;
    font-family: poynter-oldstyle-text, serif;
    font-weight: 400;
    line-height: 1.2;
    font-size: 15px;
    font-style: normal; 
    color: black;
    text-align: left;
}

#introcontainer {
  display: block;
    width: 630px;
    height: 400px;
    border: none;
    float: left;
    margin-left: 65px;
    margin-right: 10px;
    margin-bottom: 10px;
    
}

p {
    font-family: poynter-oldstyle-text, serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    font-size: 30px;
    color: black;
}

#quote {
  font-family: poynter-oldstyle-text, serif;
  font-weight: 400;
  font-style: italic;
  line-height: 1.2;
  font-size: 15px;
  font-style: italic; 
  color: black;
  text-align: left;
  padding-left: 30px;
}

#div3 {
  display: block;
  width: 610px;
  height: 0px;
  margin-left: 50px;
  clear:left;
}

#div4 {
    display: block;
    width: 630px;
    height: 300px;
    border: none;
    float: left;
    margin-left: 65px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: poynter-oldstyle-text, serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    font-size: 37px;
    overflow:auto;
    color: black;
    text-align: left;
}

#div5 {
    column-count: 4;
    display: block;
    width: 1000px;
    height: 600px;
    border: none;
    float: left;
    margin-left: 65px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: poynter-oldstyle-text, serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    font-size: 20px;
    overflow:auto;
    color: black;
    text-align: left;
}



header {
    width: 610px;
    height: 60px;
    border: none;
    margin-left: 65px;
    float: none;
    font-family: Beastly, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 1.2;
    font-size: 40px;
    color: black;
}

footer {
    width: 610px;
    height: 50px;
    border: 1px solid blue;
    margin-left: 50px;
    float: none;
    font-family: covik-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
    font-size: 35px;
    color: #f7d000;
}


